@charset "UTF-8";
body {
            font-family: Arial, sans-serif;
            background-color: #f4f7fc;
            margin: 0;
            padding: 0;
            color: #d6e6f2;
        }
        header {
            background-color: #007BFF;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        header h1 {
            margin: 0;
            font-size: 36px;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 40px 0;
        }
        .section-title {
            font-size: 28px;
            color: #2c3e50;
            margin-bottom: 20px;
        }
        .section-content {
            font-size: 18px;
            line-height: 1.6;
            color: #000;
        }
        .section-content p {
            margin-bottom: 20px;
        }
        footer {
            background-color: #007BFF;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }